@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran:wght@500&family=Dancing+Script:wght@500&family=Lobster+Two:ital@1&family=Poppins:wght@500;600&family=Roboto:wght@500&family=Rokkitt&family=Satisfy&family=Ubuntu:wght@500;700&family=ZCOOL+QingKe+HuangYou&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Poppins', sans-serif;
}
